<a href="https://colab.research.google.com/github/gustavoalcantara/repositorios_etl_bd/blob/main/country.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np

In [30]:
#Reading the Local File
x = pd.read_csv('country.txt', sep='\t', dtype=str)

In [31]:
# Organization for future sort
x['year'] = x['year'].astype(int)
x['rank'] = x['rank'].fillna(0).astype(int)
x['rank'] = x['rank'].replace(0, "")
x['number_sources'] = x['number_sources'].fillna(0).astype(int)
x['number_sources'] = x['number_sources'].replace(0, "")

In [32]:
#Rename of columns
x = x.rename({'IMD World Competitiveness Yearbook': 'world_competitiveness_yearbook'},
             axis = 'columns')

In [33]:
#Initialize the Merge
y=x.query('year==2012')

In [34]:
c = x.query('year==2021')[['country_id_iso_3', 'country']]

In [35]:
#Merge from country 
x = pd.merge(x, c, how = 'left', on='country')

In [36]:
#Rename of column
x = x.rename({'country_id_iso_3_y': 'country_id_iso_3'},
             axis = 'columns')

In [37]:
#Select Columns
x = x[['year',
       'country_id_iso_3',
       'country',
       'corruption_index_score',
       'rank',
       'standard_error',
       'number_sources',
       'lower_ci',
       'upper_ci',
       'african_development_bank',
       'bertelsmann_foundation_sustainable_index',
       'bertelsmann_foundation_transformation_index',
       'economist_intelligence_ratings',
       'freedom_house_nations_transit',
       'global_insight_country_risk_ratings',
       'world_competitiveness_yearbook',
       'asia_risk_guide_perc',
       'international_contry_risk_guide',
       'varieties_democracy_project',
       'world_bank_country_policy_institutional_assessment',
       'world_economic_forum',
       'world_justice_project_rule_law_index']]

In [38]:
#Sort of year and Rank
x.sort_values(by=['year', 'rank'])

,year,country_id_iso_3,country,corruption_index_score,rank,standard_error,number_sources,lower_ci,upper_ci,african_development_bank,...,economist_intelligence_ratings,freedom_house_nations_transit,global_insight_country_risk_ratings,world_competitiveness_yearbook,asia_risk_guide_perc,international_contry_risk_guide,varieties_democracy_project,world_bank_country_policy_institutional_assessment,world_economic_forum,world_justice_project_rule_law_index
0,2012,DNK,Denmark,90,1,2.0,,83,98,0,...,88,0,83,95,0,83,NaN,0,86,89
1,2012,FIN,Finland,90,1,3.0,,83,100,0,...,88,0,83,90,0,83,NaN,0,91,87
2,2012,NZL,New Zealand,90,1,2.2,,83,98,0,...,88,0,83,88,0,83,NaN,0,92,86
3,2012,SWE,Sweden,88,4,1.9,,82,97,0,...,88,0,83,85,0,83,NaN,0,82,89
4,2012,SGP,Singapore,87,5,2.1,,79,99,0,...,88,0,83,91,87,83,NaN,0,88,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1767,2021,YEM,Yemen,16,174,2.29,7,12.23,19.77,NaN,...,20,NaN,10,NaN,NaN,15,12,10,34,NaN
1768,2021,VEN,Venezuela,14,177,0.99,8,12.37,15.63,NaN,...,20,NaN,10,20,NaN,15,12,NaN,13,10
1769,2021,SOM,Somalia,13,178,1.89,6,9.89,16.11,11,...,NaN,NaN,22,NaN,NaN,6,12,18,NaN,NaN
1770,2021,SYR,Syria,13,178,1.58,5,10.40,15.60,NaN,...,20,NaN,10,NaN,NaN,15,12,NaN,NaN,NaN
1771,2021,SSD,South Sudan,11,180,0.41,5,10.33,11.67,11,...,NaN,NaN,10,NaN,NaN,NaN,11,10,NaN,NaN

In [39]:
# Save to csv in Base dos Dados Standard
x.to_csv('country.csv', sep=',', index=False, header=True)